<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
{% block style %}{% endblock %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- {% if title %} -->
        <!-- <title>{{ title }} - API</title> -->
        <!-- {% else %} -->
        <!-- <title>API</title> -->
        <!-- {% endif %} -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main_teste.css') }}">
    </head>