* {
    box-sizing: border-box;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.column {
    float: left;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
}
  
.nav_bar {
    position: relative;
    display: block;
    align-items: center;
    width: 25%;
    background-color: #FAE08E;
}

.content_area {
  width: 75%;
  background-color: #EAEAEA;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  top: 15%;
}


/* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  }  */
 
.logo {
    display: flex;
    width: 100%;
    position: relative;
    top: 10%;
}

.saudacao {
  /* display: inline; */
  position: relative;
  top: 12%;
  margin-left: 20px;
  margin-right: auto;
}

p.ainda_nao_possui_conta {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  font-size: 20px;
  text-align: center;
}

/* TODOS BOTOES */
div.botao {
  /* margin-left: auto; */
  /* margin-right: auto; */
  display: block;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  background: #FAE08E;
}

div.botao:hover {
  background-color: #DEB93E;
  transform: scale(1.2);
}

a.botao {
  display: inline;
  /* position: relative; */
  padding: 10px;
  /* top: 50%; */
  /* left: 25%; */
  text-decoration: none;
  color: black;
  font-size: 1.2vw;
  width: 10%;
  /* font-size: 5%; */
  /* font-family: Roboto; */
  /* font-style: normal; */
  /* font-weight: 50%; */
  /* font-size: 18px; */
  /* line-height: 21px; */
  /* vertical-align: middle;
  align-items: center;
  text-align: center; */
  /* margin: -5% 0 0 0; */
}

/* BOTOES SEPARADOS */
/* NAO LOGADO*/
div.botao_criar_conta {
  position: relative;
  top: 50%;
}

img.menu {
  display: inline;
  vertical-align: middle;
  width: 15%;
}

/* CARDS */
.card {
  position: relative;
  width: 80%;
  min-height: 220px;
  max-height: 90%;
  margin: auto;
  margin-bottom: 10%;
  text-align: left;
  font-family: arial;
  background-color: #ffffff;
}

.cabecalho_card{
  display: block;
  padding-top: 5px;
  background-color: #FAE08E;
  width: 100%;
  height: 15%;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.corpo_card {
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 5px;
}
