{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='create_user.css') }}">
{% endblock %}

{% block content %}

<form  action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="imgcontainer">
    <h1 class="logintitle">Cadastrar</h1>
  </div>

  <div class="container">
      <label for="name"><b>Nome</b></label>
      {{ form.name() }}<br>
      {% if form.name.errors %}
      {% for error in form.name.errors %}
      <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
      {% endif %}
      <br>
  
      <label for="email"><b>Email</b></label>
      {{ form.email() }}<br>
      {% if form.email.errors %}
      {% for error in form.email.errors %}
      <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
      {% endif %}
      <br>
      

      <label for="password"><b>Senha</b></label>
      {{ form.password() }}<br>
      {% if form.password.errors %}
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
      {% endif %}
      <br>

      <label for="confirm_password"><b>Confirme a senha</b></label>
      {{ form.confirm_password() }}<br>
      {% if form.confirm_password.errors %}
      {% for error in form.confirm_password.errors %}
      <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
      {% endif %}
      <br>

      <label for="role"><b>Cargo</b></label>
      {{ form.role() }}<br>
      {% if form.role.errors %}
      {% for error in form.role.errors %}
      <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
      {% endif %}
      <br>
      
      <label for="function"><b>Função</b></label><p>
      {% for subfield in form.function %}
      <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
      </tr>
      {% endfor %}
      
      <br>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}

      {{ form.submit }}
  </div>
</form>
{% endblock %}

