{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='create_user.css') }}">
{% endblock %}

{% block content %}

<form  action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="imgcontainer">
    <h1 class="logintitle">Nova atividade</h1>
  </div>

  <div class="container">
      <label for="email" ><b>Nome da atividade</b></label>
      {{ form.name() }}<br>
      {% if form.name.errors %}
      {% for error in form.name.errors %}
      <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
      {% endif %}
      <br>
      
      <label for="description"><b>Descrição</b></label>
      <textarea name="description" id="description" placeholder="Descreva a atividade" cols="30" rows="5"></textarea><br>
      {% if form.description.errors %}
      {% for error in form.description.errors %}
      <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
      {% endif %}
      <br>
      <label for="username"><b>Responsável</b></label><p>
      {{ form.user_id() }}<br><br>
      
      {{ form.submit }}
  </div>
</form>
{% endblock %}


