{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
{% endblock %}

{% block content %}
    <h1 class="titulo">Página inicial</h1>
    <div class="wrapper">
        <div class="card atividade_atual">
            <div class="cabecalho_card">
                <a class="maior">Atividade atual</a><br>
            </div>
            {% for task, user in current_task %}
            <div class="corpo_card">
                <a class="menor"><br>{{task.name}}
                    <br>
                    <br>
                    {{task.description}}
                    <br>
                    <br>
                    Criado em: {{task.created_at.strftime("%d/%m/%Y")}}
                    <br>
                    <br>
                    <!-- Pronto? {{task.achieved}}<br><br> -->
                    <a href="{{ url_for('atividade', id=task.id) }}">Ver atividade</a></a><br><br>
            </div>
            {% endfor %}
        </div>
        <div class="card meta_atual">
            <div class="cabecalho_card">
                <a class="maior">Meta atual</a><br>
            </div>
            <div class="corpo_card">
                <a class="menor"><br>Ter 50% de redução de custos nos próximos 2 meses</a><br><br>
        </div>
        </div>
        <div class="card">
            <div class="cabecalho_card">
                <a class="maior">Atividades</a><br>
            </div>
            <div class="corpo_card">
                <span class="numero">3
                <a><br>Pendentes</a></span><br>
                <span class="numero">2
                <a><br>Concluídas hoje</a></span>
        </div><br>
        </div>
        <div class="card">
            <div class="cabecalho_card">
                <a class="maior">Metas</a><br>
            </div>
            <div class="corpo_card"><br>
                <span class="numero">75%
                <a><br>Atingidas</a></span>
        </div>
        </div>
    </div>
{% endblock %}

