{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
{% endblock %}

{% block content %}
    <h1 class="titulo">Página inicial</h1>
    <div class="wrapper">
        <div class="card atividade_atual">
            <div class="cabecalho_card">
                <a class="maior">Atividade atual</a><br>
            </div>
            {% for task, user in current_task %}
            <div class="corpo_card">
                <a class="menor"><br>{{task.name}}
                    <br>
                    <br>
                    {{task.description}}
                    <br>
                    <br>
                    Criado em: {{task.created_at.strftime("%d/%m/%Y")}}
                    <br>
                    <br>
                    <!-- Pronto? {{task.achieved}}<br><br> -->
                    <a href="{{ url_for('atividade', id=task.id) }}">Ver atividade</a></a><br><br>
            </div>
            {% endfor %}
        </div>
        <div class="card meta_atual">
            <div class="cabecalho_card">
                <a class="maior">Meta atual</a><br>
            </div>
            {% for goal, user_goal, user, users_team in current_goal %}
            <div class="corpo_card">
                <a class="menor"><br>{{goal.name}}
                    <br>
                    <br>
                    {{goal.description}}
                    <br>
                    <br>
                    <!-- Pronto? {{goal.achieved}}<br><br> -->
                    <a href="{{ url_for('view_goal', id=goal.id) }}">Ver meta</a></a><br><br>
            </div>
            {% endfor %}
        </div>
        <div class="card">
            <div class="cabecalho_card">
                <a class="maior">Atividades</a><br>
            </div>
            <div class="corpo_card">
                <span class="numero">{{tasks_pending}}
                <a><br>Pendentes</a></span><br>
                <span class="numero">{{achieved_today}}
                <a><br>Concluídas hoje</a></span>
        </div><br>
        </div>
        <div class="card">
            <div class="cabecalho_card">
                <a class="maior">Metas</a><br>
            </div>
            <div class="corpo_card"><br>
                <span class="numero">75%
                <a><br>Atingidas</a></span>
        </div>
        </div>
    </div>
{% endblock %}

