{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='atividades.css') }}">
{% endblock %}

{% block content %}
    <h1 class="titulo">Metas </h1>
    <a href="{{ url_for('create_task') }}"><div class="botao botao_criar_atividade">
        <img src="{{ url_for('static', filename='icons/add-account.png') }}" class="botao botao_criar_atividade"><a href="{{ url_for('create_goal') }}" class="botao">Criar meta</a>
    </div></a>
    <div class="wrapper">
        
        {% for goal in goals %}
        <div class="card atividade_atual">
            <div class="cabecalho_card">
                <a class="maior" href="{{ url_for('view_goal', id=goal[0]) }}">{{goal[0]}} - {{ goal[1] }}</a><br>
            </div>
            <div class="corpo_card">
                <a class="menor">
                    {{goal[2]}}
                    <br>
                    <br>
                    Criado em: {{goal[3]}}
                    <br>
                    <br>
                    Pronto? {% if goal[4] %}Sim {% else %}Não {% endif %}<br>
                    {% if goal[4] %}<br> Concluído em: {{goal[5]}} {% else %}{% endif %}<br><br>
                    <hr>
                    <a href="{{ url_for('view_goal', id=goal[0]) }}">Ver meta</a>
                </a><br><br>
        </div>
    </div>
        {% endfor %}
        {% if 'concluidas' not in url %}
        <a href="concluidas"><div class="botao botao_voltar">
            <img src="{{ url_for('static', filename='icons/tick.png') }}" width="35" height="20" class="botao botao_voltar"><a href="concluidas" class="botao">Ver concluídas</a>
        </div></a>
        {% else %}
        <a href="{{ url_for('metas') }}"><div class="botao botao_voltar">
            <img src="{{ url_for('static', filename='icons/back.png') }}" class="botao botao_voltar"><a href="{{ url_for('metas') }}" class="botao">Voltar</a>
        </div></a>
        {% endif %}


{% endblock %}

